@import "../../global.scss";

.Menu {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 1.5rem;
    padding: 1.625rem;
    z-index: 2;
    position: absolute;
    width: calc(100% - 3rem);

    left: 50%;
    transform: translate(-50%);

    a {
        color: $darkBlue;
        padding: 0.625rem;

    }
}