@import "../../global.scss";

.Contact {
    background-color: $darkBlue;
    color: white;
    padding: 2.5rem;
    text-align: center;
    font-size: 0.9375rem;

    .container{
        @include breakpoint-up(large){
            display: grid;
            grid-template-columns: 2fr 1fr 1fr 3fr;
            grid-template-rows: 1fr auto;
            gap: 1rem;
            grid-template-areas: 
            "logo links1 links2 cta"
             "social links1 links2 copyright";
             text-align: left;
             justify-items: start;
             
        }
    
        .logo{
            display: inline-block;
            @include breakpoint-down(medium){
                margin-bottom: 1.875rem;
            }
            @include breakpoint-up(large) {
                grid-area: logo;
            }
    
        }
        .social {
            @include breakpoint-down(medium){
                margin-bottom: 1.875rem;
            }
            a{
                display: inline-block;
                &:not(:last-child){
                    margin-right: 1rem;
                }
                svg path {
                    transition: fill 150ms ease-in-out;
                }
                &:hover svg path {
                    fill: $limeGreen;
                }
            }
    
            @include breakpoint-up(large) {
                grid-area: social;
                align-self: flex-end;
            }
        }
        .links{
            display: flex;
            flex-direction: column;
            align-items: center;
            line-height: 2.25;
            @include breakpoint-up(large) {
                justify-content: space-between;
                a{
                    
                    transition: all 150ms ease-in-out;
                    &:hover{
                        color: $limeGreen;
                    }
                }
            }
            &.col1{
                @include breakpoint-up(large) {
                    grid-area: links1;
                    align-items: flex-start;
                }
            }
            &.col2{
                
                @include breakpoint-down(medium){
                    margin-bottom: 1.875rem;
                }
                 @include breakpoint-up(large) {
                    grid-area: links2;
                    align-items: flex-start;
                }
            }
        }
        .cta {
            .button{
                display: inline-block;
                position: relative;
                padding: 0.875rem 2.875rem;
                border-radius: 50px;
                background: linear-gradient(to right, $limeGreen, $brightCyan);
                color: white;
                font-weight: 400;
                font-size: 0.875rem;
                border: none;
                cursor: pointer;
                transition: opacity 300ms ease-in-out;
                @include breakpoint-down(medium){
                    margin-bottom: 1.875rem;
                }
                &::before{
                    content: "";
                    position: absolute;
                    border-radius: 50px;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background-color: rgba($color: #FFFFFF, $alpha: 0.25);
                    background-size: cover;
                    opacity: 0;
                    transition: opacity 150ms ease-in-out;

                }
                &:hover::before{
                    opacity: 1;
                }
            }
            @include breakpoint-up(large) {
                grid-area: cta;
                text-align: right;
                justify-self: end;
            }
            
            
            
        }
        .copyright{
            color: $grayishBlue;
            font-size: 0.875rem;
            @include breakpoint-up(large) {
                grid-area: copyright;
                text-align: right;
                justify-self: end;
                align-self: flex-end;
            }
            
        }
    }

    
}
a{
    color: white;
}