// Primary
$darkBlue:  hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);

// Neutral

$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// variables
.container {
    max-width: 69.375rem;
    margin: 0 auto;

    &--pall {
        padding-top: 2.25rem;
        padding-right: 1.5rem;
        padding-bottom: 2.25rem;
        padding-left: 1.5rem;
    }
    &--py{
        padding-top: 2.25rem;
        padding-bottom: 2.25rem;
    }
    &--px{
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
    &--pt{
        padding-top: 2.25rem;
    }
    &--pb{
        padding-bottom: 2.25rem;
    }
    &--pr{
        padding-right: 1.5rem;
    }
    &--pl{
        padding-left: 1.5rem;
    }
}
.no-scroll {
    overflow: hidden;
}

// Breakpoints

@media (min-width: 64em){
    // styles  go here
}

// 640px, 1024px, 1440px
$breakpoints-up: ("medium" : "40em", "large": "64em", "xlarge" : "90em");
// 639px, 1023px, 1439px
$breakpoints-down: ("small":"39.9375em", "medium": "63.9375em", "large" : "89..9375em");

@mixin breakpoint-up($size){
    @media (min-width: map-get($breakpoints-up, $size)){
        @content;
    }
}
@mixin breakpoint-down($size){
    @media (max-width: map-get($breakpoints-down, $size)){
        @content;
    }
}

// animations

@keyframes fade-in {
    from {
        visibility: hidden;
        opacity: 0;
    }
    1%{
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;
    }
}
.fade-in {
    animation: fade-in 200ms ease-in-out forwards;
}
@keyframes fade-out {
    from {
        visibility: visible;
        opacity: 1;
    }
    99%{
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}
.fade-out {
    animation: fade-out 200ms ease-in-out forwards;
}
